<header class="site-header">

  <div class="wrapper">

<div class="container">
        <h1>{{ site.title }}</h1>
        <h2></h2>
</div>

<div class="container">
         <a class="btn" href="{{ site.baseurl }}/">Home</a>
         <a class="btn" href="{{ site.baseurl }}/documentation/">Documentation</a>
         <a class="btn" href="{{ site.baseurl }}/tutorial/">Tutorial</a>
         <a class="btn" href="{{ site.baseurl }}/galaxy/">Galaxy</a>
         <a class="btn" href="{{ site.baseurl }}/change_logs/">Change Logs</a>
      </div>

<div class="container">
            {% if page.url contains '/documentation/' %}
            <table>
            <tr>
         <td><a class="btn" href="{{ site.baseurl }}/documentation/restriction_enzyme_predictor">Restriction Enzyme Predictor</a></td>
         <td><a class="btn" href="{{ site.baseurl }}/documentation/barcode_generator">Barcode Generator</a></td>
            </tr><tr>
         <td><a class="btn" href="{{ site.baseurl }}/documentation/demultiplexer">Demultiplexer</a></td>
         <td><a class="btn" href="{{ site.baseurl }}/documentation/barcode_discovery">Barcode Discovery</a></td>
            </tr>
            </table>
            {% endif %}
      </div>

</header>
