<header class="site-header">

  <div class="wrapper">

<div class="container">
        <h1>{{ site.title }}</h1>
        <h2>GBSX: a toolkit for experimental design and demultiplexing genotyping by sequencing experiments</h2>
</div>


      <div class="container">

        <section id="downloads">
          <a href="https://github.com/GenomicsCoreLeuven/GBSX/zipball/master" class="btn">Download as .zip</a>
          <a href="https://github.com/GenomicsCoreLeuven/GBSX/tarball/master" class="btn">Download as .tar.gz</a>
          <a href="https://github.com/GenomicsCoreLeuven/GBSX" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>


<div class="container">
         <a class="btn" href="{{ site.baseurl }}/">Home</a>
         <a class="btn" href="{{ site.baseurl }}/documentation/">Documentation</a>
         <a class="btn" href="{{ site.baseurl }}/tutorial/">Tutorial</a>
         <a class="btn" href="{{ site.baseurl }}/galaxy/">Galaxy</a>
         <a class="btn" href="{{ site.baseurl }}/change_logs/">Change Logs</a>
<!--        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.url contains 'help/' and my_page.title != 'Help' %}
            {% else %}
         <a class="btn" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
-->
      </div>

</header>
